{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {#<h1>Connexion : </h1>#}
    {% include "shared/_flashSuccess.html.twig" %}
    {% include "shared/_flashWarning.html.twig" %}

    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header">Mot de passe oublié</div>
        <div class="card-body">
            {{ form_start(formView) }}
            {{ form_widget(formView) }}
            <button type="submit" class="btn btn-success">Demande de nouveau mot de passe</button>
            {{ form_end(formView) }}
        </div>
    </div>

{% endblock %}
